@import 'tailwindcss';

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #6b21a8, #3b82f6);
  color: #000;
  line-height: 1.5;
  padding-top: 40px;
}
